@{
    ViewData["Title"] = "Accueil";
}
<h2></h2>
<div class="container text-center">
    <h1>Bienvenue sur E-Recrutement</h1>
    <p>Postulez aux offres ou publiez les vôtres!</p>
    <img src="~/images/homepage.jpeg" class="img-fluid rounded shadow-lg" alt="Accueil" />
</div>
